{% extends "base.html" %}

{% block app_content %}
    <h1>Disk space for {{systemSelection}}:</h1>
<span class="dropdown-text">Switch server:</span>
        <form name = "system" action = ' 'method ="POST" >
            <select name="system" method="GET" action="/">
                <option value="{{systemSelection}}"{ selected>{{systems[0]}}</option>
                {% for system in systems[1:] %}
                <option value="{{system}}">{{system}}</option>
                {% endfor %}
            </select>
            <input class="btn" type="submit" value="submit">
        </form>
    {{plot|safe}}




{% endblock %}
