{% extends "base.html" %}


{% block app_content %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
</head>
<body>




<h1>Log entries</h1>
<p>Every System update is logged here. Useful for referencing events.</p>
<table id="systemTable" class=table table-hover">
<thead valign="top">
<th>System Name:</th>
<th>System OS:</th>
<th>System CPU cores:</th>
<th>System CPU clockspeed:</th>
<th>System Total Memory:</th>
<th>System Memory used:</th>
<th>CPU usage:</th>
<th>Disk space available:</th>
<th>Time:</th>

</thead>
<tbody>
{% for system in systems[1:]%}
<tr>
    <td>{{system.system_id}}</td>
    <td>{{system.os}}</td>
    <td>{{system.cpu_cores_phys}}</td>
    <td>{{system.cpu_freq_max}}</td>
    <td>{{system.memory_total}}</td>
    <td>{{system.memory_percent}}</td>
    <td>{{system.cpu_usage}}</td>
    <td>{{system.disk_free}}</td>
    <td>{{system.timestamp}}</td>
</tr>
{% endfor %}
</tbody>
</table>


</body>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" class="init">


    $(document).ready(function() {
        $('#systemTable').DataTable( {
        "order":[[8, "desc"]]
        })
    } );


</script>


{% endblock %}