{% extends "base.html" %}


{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">



</head>
<body>




<div class = "container">
<table id="systemTable" class=table table-hover">
<thead valign="top">
<th>System Name:</th>
<th>CPU usage:</th>
<th>Disk space available:</th>
<th>Time:</th>

</thead>
<tbody>
{% for system in systems[1:]%}
<tr>
    <td>{{system.system_id}}</td>
    <td>{{system.cpu_cores_phys}}</td>
    <td>{{system.disk_free}}</td>
    <td>{{system.memory_total}}</td>

</tr>
{% endfor %}
</tbody>
</table>
    <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Style
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
</div>

</body>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" class="init">


    $(document).ready(function() {
        $('#systemTable').DataTable( {
        "order":[[3, "desc"]]
        })
    } );


</script>


{% endblock %}